@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --clr-dark: #1c2042;
  --clr-white: #ffffff;
  --clr-bg: #f7f7f7;
  --clr-border: #dedede;
  --max-width: 1140px;
}

/* pseudo elements in css */

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

/* global css */
img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  padding: 0px 20px;
  box-sizing: border-box;
  border: 1px solid gray;
  margin: 10px 10px;
}
.diary {
  margin: 10px auto;
  width: 1200px;
}
.story {
  width: 1000px;
  /*margin-bottom: 170px;*/
  margin-left: 50px;
}
h1 {
  text-align: center;
  justify-content: center;
  letter-spacing: 1px;
}
.btn {
  display: inline-block;
  border-radius: 8px;
  padding: 0.8em 1.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  /* customize */
  background-color: var(--clr-dark);
  color: var(--clr-white);
  border: 2px solid var(--clr-dark);
}

h2 {
  font-size: 2rem;
}

h3 {
  border-bottom: 1px solid var(--clr-border);
  padding-bottom: 5px;
  margin: 15px 0 10px;
  align-content: left;
}

/*label {
  display: inline-block;
  margin: 10px 0;
}*/

.btn {
  cursor: pointer;
  background-color: var(--clr-dark);
  color: var(--clr-white);
  border: 0;
  display: block;
  width: 100%;
  margin: 10px 0 30px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
}

.btn:focus,
.delete-button:focus {
  outline: 0;
}

.list {
  list-style: none;
}

.list li {
  width: 200px;
  background-color: var(--clr-white);
  display: flex;
  justify-content: space-between;
}
#item {
  width: 1000px;
  height: 200px;
}
.items-container {
  width: 1000px;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
}
.button {
  padding: 5px 5px;
  border: none;
}
